/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --Inter: "Inter";
  --PressStart2P: "PressStart2P";
  --font-weight-text-card: 400;
  --font-weight-tittle-card: 700;
  --header-width: clamp(375px, 60vw, 700px);
  --card-width: clamp(375px, 60vw, 700px);
  --stroke-color: white;
  --background-color-card: white;
  --button-bg: #ffffff;
  --button-text: #000000;

  --button-hover-bg: #000000;
  --button-hover-text: #ffffff;
  --contour-color:black;
  --animation-fill-color:red;

  /* accent */
  --accent-color: #000000;
  --background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
